In [1]:
from time import time
import pandas as pd
from sqlalchemy import create_engine
import os

In [2]:
df = pd.read_csv('online_retail.csv')

In [3]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [4]:
df.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [5]:
conn = create_engine('postgresql://root:root@localhost:5432/online_retail')

In [6]:
 df_iteration = pd.read_csv('online_retail.csv', iterator=True, chunksize=100000)

In [7]:
df = next(df_iteration)

In [8]:
df['Index'] = df.index

In [9]:
df = df.set_index('Index')

In [10]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
Index,,,,,,,,
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
99995,544795,22815,CARD PSYCHEDELIC APPLES,12,2011-02-23 13:21:00,0.42,15858.0,United Kingdom
99996,544795,22028,PENNY FARTHING BIRTHDAY CARD,12,2011-02-23 13:21:00,0.42,15858.0,United Kingdom
99997,544795,22035,VINTAGE CARAVAN GREETING CARD,12,2011-02-23 13:21:00,0.42,15858.0,United Kingdom
99998,544795,22024,RAINY LADIES BIRTHDAY CARD,12,2011-02-23 13:21:00,0.42,15858.0,United Kingdom
99999,544796,85086A,CANDY SPOT HEART DECORATION,6,2011-02-23 13:37:00,0.85,16208.0,United Kingdom

In [11]:
df.InvoiceDate = pd.to_datetime(df.InvoiceDate)

In [12]:
df.head(n=0).to_sql(name="retail_data", con=conn, if_exists="replace", index=True, index_label='Index')

0

In [13]:
df.to_sql(name="retail_data", con=conn, if_exists="append", index=True, index_label="Index")

1000

In [14]:
i = 1

In [15]:
try:
    while True:
        start_time = time()
        df = next(df_iteration)
        df['Index'] = df.index
        df = df.set_index('Index')
        df.InvoiceDate = pd.to_datetime(df.InvoiceDate)
        df.to_sql(name="retail_data", con=conn, if_exists="append", index=True, index_label='Index')
    
        end_time= time()
        time_diff = end_time-start_time
        print(f'Successfully ingest {i} chunk(s) of data in {time_diff} second(s)')
        i+=1
except:
    print('Data ingested successfully')

Successfully ingest 1 chunk(s) of data in 7.1946494579315186 second(s)
Successfully ingest 2 chunk(s) of data in 5.54957389831543 second(s)
Successfully ingest 3 chunk(s) of data in 5.519163370132446 second(s)
Successfully ingest 4 chunk(s) of data in 7.024186849594116 second(s)
Successfully ingest 5 chunk(s) of data in 2.723855495452881 second(s)
Data ingested successfully